/* Navbar specific styles if needed */
.navbar-link {
  position: relative;
}

.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffda03;
  transition: width 0.3s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

